.gestion-container {
  padding: 2rem;
  text-align: center;
  color: #333;
}

h2{
  color: #357ABD;
}

.reserva-box {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: #f7f7f7;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: inline-block;
}

.botones {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.confirmar {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.cancelar {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
